<div class="container" id="main-content">
    <div class="row">
        <div class="col-sm-12">
            <h1>Resume</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4><a href="files/erik_slack_resume.pdf" download>Download Erik Slack's Resume</a></h4>
        </div>
    </div>
    <div class="row" id="skills-row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3><strong>Languages, Platforms, and Tools</strong></h3>
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>JavaScript</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="padding-top: 5px;">
                            <img src="img/angularjs.png" class="img-responsive logo-img center-block">
                        </div>
                        <div class="col-sm-2">
                            <img src="img/nodejs.png" class="img-responsive logo-img center-block">
                        </div>
                        <div class="col-sm-2" style="padding-top: 7px;">
                            <img src="img/express.png" class="img-responsive logo-img center-block">
                        </div>
                        <div class="col-sm-2">
                            <img src="img/mongodb.png" class="img-responsive logo-img center-block">
                        </div>
                        <div class="col-sm-2" style="padding-top: 7px;">
                            <img src="img/jquery_logo.png" class="img-responsive logo-img center-block">
                        </div>
                        <div class="col-sm-2" style="padding-top: 5px;">
                            <img src="img/cplogo.png" class="img-responsive logo-img center-block">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Others</h4>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 25px;">
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="img/html_css.png" class="img-responsive logo-img center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="img/gitlogo.png" class="img-responsive logo-img center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="img/cpp_logo.png" class="img-responsive logo-img center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="img/php_logo2.png" class="img-responsive logo-img center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="img/wordpress-logo.png" class="img-responsive logo-img center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="img/unity_logo.png" class="img-responsive logo-img center-block">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="img/ajax_logo.png" class="img-responsive logo-img center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="row" style="padding-top: 5px;">
                                <div class="col-sm-12">
                                    <img src="img/bootstrap.png" class="img-responsive logo-img center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="row" style="padding-top: 5px;">
                                <div class="col-sm-12">
                                    <img src="img/xml.svg.png" class="img-responsive logo-img center-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3><strong>Methodology:</strong> Agile Scrum</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3><strong>Experience:</strong></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row std-spacing-row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-2">
                    <h4>
                        <i class="glyphicon glyphicon-chevron-right" style="margin-right: 15px;"></i>
                    </h4>
                </div>
                <div class="col-sm-4">
                    <img src="img/brux.jpg" class="img-responsive logo-img">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h5>April 2015 - Current</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Worked daily with product owner and tech lead to build a product that will fill a huge need in the dental industry for the automation of the hiring process at dental offices participating on our network.  Spoke with clients to focus development on actual needs.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li>AngularJS</li>
                        <li>Bootstrap</li>
                        <li>jQuery Lite</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-2">
                    <h4>
                        <i class="glyphicon glyphicon-chevron-right" style="margin-right: 15px;"></i>
                    </h4>
                </div>
                <div class="col-sm-4">
                    <img src="img/codingcampus.png" class="img-responsive logo-img">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h5>April 2015 - Current</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        Taught large spectrum of students including mostly non-developers with no experience in the field--but also Computer Science graduates looking to expand their skillset--how to develop fullstack web application using the MEAN stack.  Also assisted students with preparing to immediately enter the workforce as junior developers.
                    </p>
                    <p>
                        Also tutored and assisted students in completing homework that included building front-end, back-end, and full-stack applications with the technologies listed below.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li>AngularJS</li>
                        <li>Bootstrap</li>
                        <li>Git</li>
                        <li>jQuery</li>
                        <li>Node.js</li>
                        <li>Express</li>
                        <li>MongoDB</li>
                        <li>Mongoose</li>
                        <li>Trello</li>
                        <li>JSON</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row std-spacing-row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-2">
                    <h4>
                        <i class="glyphicon glyphicon-chevron-right" style="margin-right: 15px;"></i>
                    </h4>
                </div>
                <div class="col-sm-4">
                    <img src="img/verisage-website-logo.png" class="img-responsive logo-img bg-white">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h5>June 2014 - Current</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Developed secure, web-based applications for enterprises and startups.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><strong>Reef 3 Template</strong> - Front-end: jQuery and Bootstrap. Back-end: ContractPal.</li>
                        <li><strong>Profit Stars API</strong> - Front-end: jQuery and Bootstrap. Back-end: ContractPal. Daily scrum meetings with client using goToMeeting.</li>
                        <li><strong>eSign for Jack Henry and Associates Legal</strong> - Front-end: jQuery and Bootstrap. Back-end: ContractPal. Daily scrum meetings with client using goToMeeting.</li>
                        <li><strong>The School of Life Project</strong> - Full-stack: PHP and WordPress. File storage: AWS S3.  Used Taiga for Agile development planning and progress tracking.  Used Git for version control.</li>
                        <li><strong>1 Mainstreet Capital</strong> - Front-end: jQuery and Bootstrap. Back-end: ContractPal.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-2">
                    <h4>
                        <i class="glyphicon glyphicon-chevron-right" style="margin-right: 15px;"></i>
                    </h4>
                </div>
                <div class="col-sm-4">
                    <img src="img/ebpo-logo.jpg" class="img-responsive logo-img">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h5>April 2014 - July 2014</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Developed secure, web-based applications for enterprises and startups.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><strong>EBPO Website (USA)</strong> - Front-end: WordPress, jQuery, and Bootstrap. Back-end: WordPress and PHP.</li>
                        <li><strong>EBPO Website (UK)</strong> - Front-end: WordPress, jQuery, and Bootstrap. Back-end: WordPress and PHP.</li>
                        <li><strong>Custom EBPO Secured Private CRM</strong> - Front-end: WordPress, jQuery, and Bootstrap. Back-end: WordPress and PHP.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row std-spacing-row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-2">
                    <h4>
                        <i class="glyphicon glyphicon-chevron-right" style="margin-right: 15px;"></i>
                    </h4>
                </div>
                <div class="col-sm-4">
                    <img src="img/slacksites.jpg" class="img-responsive logo-img">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h5>June 2014 - Current</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Developed 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><strong>Oser Communications Website</strong> - Front-end: HTML5, CSS3. Back-end: WordPress.</li>
                        <li><strong>Gourmet News Website</strong> - Front-end: HTML5, CSS3. Back-end: WordPress.</li>
                        <li><strong>Kitchenware News &amp; Houseware Reviews Website</strong> - Front-end: HTML5, CSS3. Back-end: WordPress.</li>
                        <li><strong>D'Amour Allure Website</strong> - Front-end: HTML5, CSS3. Back-end: WordPress.</li>
                        <li><strong>Ardor 3D Website</strong> - Front-end: jQuery, HTML5, CSS3.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-2">
                    <h4>
                        <i class="glyphicon glyphicon-chevron-right" style="margin-right: 15px;"></i>
                    </h4>
                </div>
                <div class="col-sm-4">
                    <img src="img/mlm.png" class="img-responsive logo-img">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h5>April 2014 - July 2014</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Developed secure, web-based applications for enterprises and startups.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><strong>MLM Website</strong> - Front-end: jQuery, and Bootstrap. Back-end: WordPress and PHP.</li>
                        <li><strong>University Termite &amp; Pest Control Inc.</strong> - Front-end: jQuery and JavaScript. Back-end: WordPress.</li>
                        <li><strong>Marriage Missions International</strong> - Front-end: HTML, CSS, and javascript. Back-end: WordPress.</li>
                        <li><strong>Sheepfold of Arizona</strong> - Front-end: HTML, CSS, and javascript. Back-end: WordPress.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>