<div class="container" ng-controller="profileCtrl">
    <div class="row">
        <div class="col-sm-12">
            <h1>Portfolio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Professional Projects</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row std-spacing-row">
                <div class="col-sm-4">
                    <a href="http://1msc.reef3.com/" target="_blank">1 Main Street Capital</a>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.profitstars.com/payment-solutions/enterprise-payment-solutions/pages/default.aspx" target="_blank">Profit Stars EPS: Account Maintenance</a>
                </div>
                <div class="col-sm-4">
                    <a href="https://www.jackhenry.com/" target="_blank">Jack Henry &amp; Associates Legal eSign</a>
                </div>
            </div>
            <div class="row std-spacing-row">
                <div class="col-sm-4">
                    <a href="http://www.nabancard.com/" target="_blank">North American Bancard Mastercard Match API Integration</a>
                </div>
                <div class="col-sm-4">
                    <a href="" target="_blank">Reef 3 Simply UMS</a>
                </div>
                <div class="col-sm-4">
                    <a href="http://theschooloflifeproject.org/" target="_blank">School of Life Project WordPress Plugin</a>
                </div>
            </div>
            <div class="row std-spacing-row">
                <div class="col-sm-4">
                    <a href="http://joinloupes.com/" target="_blank">Brux Front-End</a>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.osercomm.com/" target="_blank">Oser Communications Group</a>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.kitchenwarenews.com/" target="_blank">Kitchenware News eMagazine</a>
                </div>
            </div>
            <div class="row std-spacing-row">
                <div class="col-sm-4">
                    <a href="http://www.gourmetnews.com/" target="_blank">Gourmet News eMagazine</a>
                </div>
                <div class="col-sm-4">
                    <a href="https://be-pest-free.com/" target="_blank">University Termite and Pest Control Website</a>
                </div>
                <div class="col-sm-4">
                    <a href="http://ardor3d.com/" target="_blank">D'Amour Allure Website</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Personal Projects</h3>
                </div>
            </div>
            <div class="row std-spacing-row">
                <div class="col-sm-4">
                    <a href="https://github.com/erik-slack/Riot-API" target="_blank">Riot API (Personal Project)</a>
                </div>
                <div class="col-sm-4">
                    <a href="https://unity3d.com/learn/tutorials/projects/2d-roguelike" target="_blank">Unity 2D Game (Learning Project)</a>
                </div>
            </div>
        </div>
    </div>
</div>