<div class="container" ng-controller="profileCtrl">
    <div class="row">
        <div class="col-sm-12">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img src="../../img/erik_slack_profile.jpg" class="img-circle img-responsive">
        </div>
        <div class="col-sm-10">
            <p> 
                
                Give your best work or nothing, that's my motto. A long way from my humble beginnings in grunt work like mowing lawns and selling food--work experience I still treasure to this day--I now engineer applications for major industry players.

                I have been exploring information technology since I was four. With a lifetime of experience, I've become adept at finding solutions to technical problems.

                What started out as a hobby to impress my schoolmates as a kid, has become a reputation for high-quality products and services. I'm very happy with my career-choice, it has brought me high-dollar contracts and great opportunities to serve in both my local community and the global community.

                Developing applications absolutely fascinates me, and I take great pride in my work.
            </p>
        </div>
    </div>
</div>